---
---

{% include layout/head.html %}
{% include layout/main-navigation.html %}

<div class="page-wrapper">


<!-- display slideshow if there is one (when on a chapter page) -->
{% if page.slides %}
	{% assign slides = page.slides %}
	{% include slideshow/slideshow.html %}
{% endif %}


<!-- display page content -->
<div class="container">

	<!-- title and description -->
	{% if page.title %}
		<section class="page-header">
			<h1>{{ page.title }}</h1>
			<p>{{ page.introduction | markdownify }}</p>
		</section>
	{% endif %}


	<!-- learning outcomes, if any -->
	{% if page.learning-outcomes %}
		<section class="learning-outcomes">
			<h2>Learning Outcomes</h2>
			<p>Upon completion of this module you should be able to:</p>
			<ul>
				{% for outcome in page.learning-outcomes %}
					<li>{{ outcome }}</li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}


	<!-- page content -->
	<section class="page-content">
		{{ content }}
	</section>


	<!-- badges, if any -->
	{% if page.badges %}
		<section class="badges">
			<h2>{{ page.title }} Badges</h2>
			<ol class="badges">
				{% for badge in page.badges %}
					<li>
					<a href="badges/{{ badge.slug }}.html">
						<h3>{{ badge.fun-name }} | <i>{{ badge.serious-name }}</i></h3>
						<img src="badges/images/{{ badge.slug }}.png" alt="{{ badge.serious-name }} Badge">
						<p>{{ badge.description }}</p>
  						<p class="assessment-link">&raquo; Assessment Details</p>
					</a>
					</li>
				{% endfor %}
			</ol>

			<h2>Unpublished {{ page.title }} Badges</h2>
			<ol class="badges">
				{% for badge in page.wip-badges %}
					<li>
						<h3>{{ badge.fun-name }} | <i>{{ badge.serious-name }} (Coming Soon)</i></h3>
						<img src="badges/images/{{ badge.slug }}.png" alt="{{ badge.serious-name }} Badge">
						<p>{{ badge.description }}</p>
  						<p class="assessment-link">&raquo; Assessment Details</p>
					</li>
				{% endfor %}
			</ol>

		</section>
	{% endif %}


	{% include layout/footer.html %}

</div><!-- .container -->





</div><!-- .page-wrapper -->

{% include layout/page-foot.html %}