{% if page.layout == 'slideshow' %}

    <!-- revealjs for slideshows -->
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/submodules/revealjs/css/reveal.min.css">

    <!-- sidenotes for slideshow notes -->
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/submodules/sidenotes/css/sidenotes.css">

    <!-- slideshow styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/css/reveal.css">

{% endif %}

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<!-- Google Icon Font for Materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% if page.layout != 'slideshow' %}

    <!-- Featherlite lightbox -->
    <link href="https://cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    
    <!-- Project-specific CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/stylesheets/style.css">
    <link rel="stylesheet" media="print" href="{{ site.baseurl }}/theme/stylesheets/print.css">

{% endif %}


