---
---

// theme stuff

$baseurl: '{{site.baseurl}}';
$assets-url: '{{site.theme_assets}}';
$theme-color: {{site.themecolor}};


// other files to include

@import 'reveal/theme';
@import 'reveal/customisation';
@import 'reveal/slides';
@import 'reveal/speaker-notes-button';
@import 'reveal/slide-components';

@import 'typography';
@import 'reveal/page-layout';


