<ul id="nav-mobile" class="side-nav fixed">

	<span class="logo">
		Digital Skills<br> 
		for Research
	</span>

	<li class="bold">
		<a href="{{ site.baseurl }}/">
			Home
		</a>
	</li>

	<li class="bold">
		<a href="{{ site.baseurl }}/calendar.html">
			Calendar
		</a>
	</li>

	<li class="bold">
		<a href="{{ site.baseurl }}/development.html">
			Development Progress
		</a>
	</li>




	<!-- modules -->
	<li>

		<span class="heading">Modules</span>

		<ul class="modules">
			<!-- one list item for each module -->
			{% for module in site.data.modules %}
				<li>
					<a href="{{ site.baseurl }}/modules/{{ module.slug }}"
					   class="">
						{{ module.name }}
					</a>
				</li>

			{% endfor %}
		</ul>
	</li>

	

</ul>