.calendar {

	.collapsible {

		.collapsible-header {

			h3 {
				font-size: inherit;
				line-height: 3rem;
				margin: 0;
				padding: 0;
				border: 0;
			}

		}

		.collapsible-body {

			padding: 30px;

			p {
				padding: 0.5rem 0;
			}

			table {
				margin-top: 1rem;
			}
		}
		
	}
}