ul.learning-outcomes {

	counter-reset: bold-alpha-counter;
	margin-left: 1.25em;

	li {
		border-top: none;
		padding: 0.2em;
		padding-left: 0;
		list-style-type: disc;

		&:last-of-type {
			border-bottom: none;
		}
	}
}