/*
The project status component displayed on the home page
*/

.project-progress {

	.sub-task {
		display: flex;
		background: #FDFDFD;

		.name {
			width: 40%;
		}

		.progress {
			.not-started { width: 0% }
			.started { width: 25% }
			.in-progress { width: 50% }
			.in-review { width: 75% }
			.complete { width: 100% }
		}

		.percentage {
			width: 20%;
			padding-left: 20px;
		}
	}

}