/* resource lists */
.module ul,
ul.resources {
	list-style-type: none;

	/* all list items */
	li {
		border-top: 1px solid #ccc;
		padding-left: 1rem;

		/* last list item in list */
		&:last-of-type {
			border-bottom: 1px solid #ccc;
		}
	}

	/* list item marker */
	li a:before {
		content: "\00a0 + "; /* code for &nbsp; followed by + */
	}

	/* resource links */
	li a {
		display: block;
		padding: 4px 0;
		text-decoration: none;
		margin-left: -1rem;

		&:hover {
			background: #EEEFFF;
			color: #222333;
		}
	}

	/* creating multiline list items with markdown
	uses br for line breaks instead of using paragraphs, 
	so we shall hide them!
	*/
	li br {
		display: none;
	}
}
