
h2 {
	font-size: 200%;
}

h3 {
	border-top: 1px solid gray;
	padding-top: 30px;
	margin-top: 30px;
}



@media only screen and (max-width : 992px) {
	h1 {
		font-size: 200%;
	}

	h2 {
		font-size: 150%;
	}
}