


	<!-- START javascript files -->

        <!-- jQuery loaded from online host -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

        <!-- Materialize loaded from online host -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

        <!-- Menu button: makes the menu button show/hide the sidebar on mobile. Depends on Materialize and jQuery. -->
        <script>
            $(".button-collapse").sideNav();
        </script>

    <!-- END javascript files -->


	</body>

</html>