<!doctype html>
<html>

	<head>

		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



        <!-- START stylesheets -->

			<!-- Materialize CSS, allows us to use their CSS so we don't have to write as much -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

			<!-- Google Icon Font, allows Materialize to display icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

			<!-- Custom CSS for displaying as web page -->
			<link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/styles.css">

		<!-- END stylesheets -->



	</head>

	<body>