<ul id="slide-out" class="side-nav fixed">

	<span class="logo">
		Digital Skills<br> 
		for Research
	</span>


	<!-- modules -->
	<li>

		<span class="heading">Modules</span>

		<ul class="modules">
			<!-- one list item for each module -->
			{% for module in site.data.modules %}
				<li>
					<a href="{{ site.baseurl }}/modules/{{ module.slug }}"
					   class="">
						{{ module.name }}
					</a>
				</li>

			{% endfor %}
		</ul>
	</li>

	

</ul>
<a href="#" data-activates="slide-out" class="button-collapse main-menu-toggle"><i class="material-icons">menu</i></a>