body {
	font-size: 12px;
}

main {
	padding: 0;
}

#page-header {
	display: none;
}

h1 {
	font-size: 160%;
	margin: 0;
	margin-top: 20px;
}

h2 {
	font-size: 120%;
}

.page-content,
.page-content > section {
	padding: 0;
}

.page-content > section:first-of-type {
	border-bottom: 1px solid #666;
	padding-bottom: 0px;
	margin-bottom: 20px;
}

/* 
intended to target the link to either
"view weekly schedule" or to "view 
assessment schedule"
*/
.page-content > section:first-of-type a:last-of-type {
	display: none;
}



footer {
	font-size: 70%;
}

