body {
	font-size: 12px;
}

.sidebar {
	display: none;
}

.module-info > section {
	padding: 0;
}

.module-info > section:first-of-type {
	border-bottom: 1px solid #666;
	padding-bottom: 30px;
}

/* 
intended to target the link to either
"view weekly schedule" or to "view 
assessment schedule"
*/
.module-info > section:first-of-type a:last-of-type {
	display: none;
}

h2 {
	font-size: 18px;
}