body {
    background-color: #fcfcfc;
}

#nav-mobile .logo a {
	height: auto;
	line-height: 110%;
	font-size: 170%;
	font-weight: bold;
	margin: 30px 0;
}


ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 40px;
    height: 40px;
}
.side-nav.fixed a {
    display: block;
    padding: 0 30px;
    color: #444;
}
.bold>a {
    font-weight: bold;
}


header, main {
    padding-left: 240px;
}

footer {
	padding-top: 20px;
	margin-top: 30px;
	border-top: 1px solid #CCC;
}


.page-content > section {
	padding: 30px;
}

/* the first section, containing the intro */
.page-content > section:first-of-type {
	/* background: lightblue; */
	font-size: 140%;
}

.page-content h2 {
	font-size: 200%;
}

.page-content h3 {
	border-top: 1px solid gray;
	padding-top: 30px;
	margin-top: 30px;
}

/* resource lists */
ul.resources {
	list-style-type: none;
	padding: 0;
}

/* resource list items */
ul.resources li {
	border-top: 1px solid #ccc;
}

/* last resource list item in list */
ul.resources li:last-of-type {
	border-bottom: 1px solid #ccc;
}

/* resource list item marker */
ul.resources li a:before {
	content: "\00a0 + "; /* code for &nbsp; followed by + */
}

/* resource links */
ul.resources li a {
	display: block;
	padding: 4px 0;
	text-decoration: none;
}


/* resource links on hover */
ul.resources li a:hover {
	background: #EEEFFF;
	color: #222333;
}

.learning-outcomes li {
	border: none;
}