ol.badges {

	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		position: relative;
		padding-left: 170px;
		padding-top: 1em;
		min-height: 150px;

		a {
			color: black;
		}

		h3 {
			font-size: 130%;
			font-weight: bold;
			border: none;
			margin:0;
			padding: 0;
			color: #039be5;
		}

		.assessment-link {
			color: #039be5;
		}

		br:first-of-type {
			display: none;
		}

		img {
			width: 150px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}