body {
    background-color: $site-background-color;
}

.page-wrapper > .container {
	padding-left: 240px;
	margin: 0;
	width: 85%;
}

.container > section {
	padding-left: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

section.page-header {
	font-size: 130%;
}


footer.container {
	padding: 30px;
	border-top: 1px solid #CCC;
	margin-top: 100px;
}

/*
===========
MOBILE
===========
*/



@media only screen and (max-width : 992px) {
  .page-wrapper > .container {
	padding-left: 0;
  }
}

@media only screen and (max-width : 720px) {

	.page-wrapper > .container {
		width: 100%;
	}
  .container > section {
  	padding: 10px 30px;
  }

	h1 {
		margin-top: 0;
	}
}