.main-menu-toggle {
    display: block;
    padding: 30px 0 0 30px;

    .material-icons {
        font-size: 35px;
    }
}

.side-nav.fixed {

    padding-bottom: 50px;

    ul, li {
        list-style: none;
        margin-left: 0;
    }

    .logo {
        display: block;
        line-height: 110%;
        font-size: 170%;
        font-weight: bold;
        margin: 30px;
    }

    a {
        font-size: 13px;
        line-height: 40px;
        height: 40px;

        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }

    .bold>a {
        font-weight: bold;
    }

    .heading {
        display: block;
        margin: 20px 30px 5px;
        line-height: 150%;
        font-weight: bold;
        border-bottom: 1px solid #AAA;
        text-transform: uppercase;
        font-size: 80%;
        color: #999;
    }

    .modules a {
        /*padding-left: 5em;*/
    }
}