/* unordered lists */

ol {
	padding-left: 1.2rem;
}

ul li {
	list-style: disc outside;
	margin-left: 1.5rem;
	padding: 0.2rem 0;
}

.page-content ul {

	/* all list items */
	li {
		list-style: none;
		border-top: 1px solid #ccc;
		margin: 0;
		padding: 0 1rem;
		line-height: 1.5rem;

		/* last list item in list */
		&:last-of-type {
			border-bottom: 1px solid #ccc;
		}
	}

	/* list item marker */
	li a:before {
		content: "\00a0 + "; /* code for &nbsp; followed by + */
	}

	/* resource links */
	li a {
		display: block;
		padding: 4px 0;
		text-decoration: none;
		margin-left: -1rem;

		&:hover {
			background: #EEEFFF;
			color: #222333;
		}
	}

	/* creating multiline list items with markdown
	uses br for line breaks instead of using paragraphs, 
	so we shall hide them!
	*/
	li br {
		display: none;
	}
}
